buttonDepth = .5em
halfDepth = ( buttonDepth / 5 ) * 4
noDepth = ( halfDepth / 2)
grDark1 = rgba(0, 0, 0, .3)
grDark2 = rgba(0,0,0,.2)
grLight1 = rgba(255, 255, 255, .4)
grLight2 = rgba(255, 255, 255, .6)
gradientExtend = 25%
curve = cubic-bezier(.75, -0.5, 0, 1.75)


/**
  <br/><br/>
  <button class="oblique clickable fuchsia bottom left">bottom left</button>
  <button class="oblique clickable fuchsia bottom right">bottom right</button>
  <button class="oblique clickable fuchsia top left">top left</button>
  <button class="oblique clickable fuchsia top right">top right</button>
  <br/><br/>
**/

.oblique
  position relative
  padding 1em 1.5em
  border 0
  font-size 1em
  margin 1em
  letter-spacing .1em
  font-family sans-serif
  font-weight bold
  text-align center
  transition all .1s curve
  &.fuchsia
    color #fdfdfd
    background-color #FF00FF
  &:before, &:after 
    transition all .1s curve
    content ''
    background-color inherit
    position absolute
    z-index 1
    transform-origin: 0 0
  &:before 
    width 100%
    height buttonDepth
  &:after 
    height 100%
    width buttonDepth
    top 0
  &.top
    bottom 0
    &:before
      bottom - buttonDepth
      background-image linear-gradient(to bottom, grLight1, grLight2 gradientExtend)
  &.bottom
    top 0
    &:before
      top - buttonDepth
      background-image linear-gradient(to top, grLight1, grLight2 gradientExtend)
  &.left
    right 0
    &:after
      right - buttonDepth
      background-image linear-gradient(to right, grDark1, grDark2 gradientExtend)
  &.right
    left 0
    &:after
      left - buttonDepth
      background-image linear-gradient(to left, grDark1, grDark2 gradientExtend)
  &.top.left
    box-shadow inset 0 0 .4em rgba(0, 0, 0, 0), -.1em -.1em .2em rgba(0, 0, 0, .3)
    &:before
      left 0
      transform skewX(45deg)
    &:after
      transform skewY(45deg)
  &.top.right
    box-shadow inset 0 0 .4em rgba(0, 0, 0, 0), .1em -.1em .2em rgba(0, 0, 0, .3)
    &:before
      left 0
      transform skewX(-45deg)
    &:after
      top buttonDepth
      transform skewY(-45deg)
  &.bottom.right
    box-shadow inset 0 0 .4em rgba(0, 0, 0, 0), .1em .1em .2em rgba(0, 0, 0, .3)
    &:before
      left - buttonDepth
      transform skewX(45deg)
    &:after
      top - buttonDepth
      transform skewY(45deg)
  &.bottom.left
    box-shadow inset 0 0 .4em rgba(0, 0, 0, 0), -.1em .1em .4em rgba(0, 0, 0, .3)
    &:before
      right - buttonDepth
      transform skewX(-45deg)
    &:after
      transform skewY(-45deg)
  &.clickable
    cursor pointer
    &:hover
      &:before
        height halfDepth
      &:after
        width halfDepth
      &.bottom
        top - (buttonDepth - halfDepth)
        &:before
          top - halfDepth
      &.top
        bottom - (buttonDepth - halfDepth)
        &:before
          bottom - halfDepth
      &.left
        right - (buttonDepth - halfDepth)
        &:before
          right - halfDepth
        &:after
          right - halfDepth
      &.right
        left - (buttonDepth - halfDepth)
        &:after
          left - halfDepth
        &.bottom
          &:before
            left - halfDepth
          &:after
            top - halfDepth
        &.top
          &:after
            top halfDepth
  &.active, &.clickable:active
      box-shadow inset 0 0 .4em rgba(0, 0, 0, .2), 0 0 .1em rgba(0, 0, 0, .3)
      transition all .2s cubic-bezier(.75, -0.5, 0, 2)
      &:before, &:after
        transition all .2s cubic-bezier(.75, -0.5, 0, 2)
      &:before
        height noDepth
      &:after
        width noDepth
      &.bottom
        top - (buttonDepth - noDepth)
        &:before
          top - noDepth
      &.top
        bottom - (buttonDepth - noDepth)
        &:before
          bottom - noDepth
      &.left
        right - (buttonDepth - noDepth)
        &:before
          right - noDepth
        &:after
          right - noDepth
      &.right
        left - (buttonDepth - noDepth)
        &:after
          left - noDepth
        &.bottom
          &:before
            left - noDepth
          &:after
            top - noDepth
        &.top
          &:after
            top noDepth
  .inset-text
    color: rgba(0,0,0,.08)
    text-shadow: 0 0 .08em #FF00FF, 0 0 0 #000, 0 0 .08em #FF00FF