$list-debug-counter
  counter-reset item-counter
  & > *
    counter-increment item-counter
    position relative
    &::before
      content counter(item-counter)
      position absolute
      top 0
      left 0
      font-weight bold
      z-index 300
      background pink 
      min-width 1em
      text-align center