/**
// from https//codepen.io/argyleink/pen/LYEegOO
<form>
  <input type="text" placeholder="Name">
  <input type="email" placeholder="Email Address">
  <input type="submit" value="Subscribe">
</form>
**/

form
  display flex
  flex-wrap wrap
  & > input 
    flex 1 1 10ch
    margin .5rem
    &[type="email"] 
      flex 3 1 30ch
input 
  border none
  background hsl(0 0% 93%)
  border-radius .25rem
  padding .75rem 1rem
  

