backgroundColor= #fecd43

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: backgroundColor;
  line-height: 1.5;
  min-height: 100vh;
}

siteMargin = 2em;

$main {
  position: absolute;
  top: siteMargin;
  left: siteMargin;
  bottom: siteMargin;
  right: siteMargin;
  background: #fdfdfd;
  padding: siteMargin * 2 0;
  overflow: auto;
}

$wrapper {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-top: siteMargin;
}